.navbar {
  height: 10vh;
  background: #24292f;
  color: #fff;
}
.navbar .container {
  height: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
